Node-red/import file.txt
[{"id":"d0862a51.a09648","type":"tab","label":"DeMo ","disabled":false,"info":""},{"id":"e727ff59.4911f","type":"mqtt in","z":"d0862a51.a09648","name":"","topic":"temp","qos":"0","datatype":"utf8","broker":"5682baaf.1a25b4","nl":false,"rap":false,"x":90,"y":260,"wires":[["27ca9b3c.3cdc74","fb5ff94e.d774f8","fa48d2e6.3f9d5","369d5ea2.5abdf2","fa7751b2.eb9dd"]]},{"id":"7ae26ea5.6c35","type":"mqtt in","z":"d0862a51.a09648","name":"","topic":"humi","qos":"0","datatype":"utf8","broker":"5682baaf.1a25b4","nl":false,"rap":false,"x":90,"y":380,"wires":[["27ca9b3c.3cdc74","6401f253.1c6afc","94feeac6.e0b088","27d185a4.3c34da"]]},{"id":"27ca9b3c.3cdc74","type":"ui_chart","z":"d0862a51.a09648","name":"","group":"188ffb56.5d0e65","order":0,"width":"14","height":"9","label":"Temperature & Humidity","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1eb357","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":330,"y":320,"wires":[[]]},{"id":"343b50d2.f2dc5","type":"inject","z":"d0862a51.a09648","name":"ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Relay","payload":"on","payloadType":"str","x":90,"y":620,"wires":[["f93cf4cb.1d7d38","f8274b53.3618c8"]]},{"id":"a88cb777.525e18","type":"inject","z":"d0862a51.a09648","name":"OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Relay","payload":"off","payloadType":"str","x":90,"y":680,"wires":[["f93cf4cb.1d7d38","f8274b53.3618c8"]]},{"id":"f93cf4cb.1d7d38","type":"mqtt out","z":"d0862a51.a09648","name":"Relay1","topic":"Relay","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5682baaf.1a25b4","x":410,"y":740,"wires":[]},{"id":"f8274b53.3618c8","type":"debug","z":"d0862a51.a09648","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":620,"wires":[]},{"id":"d74ba1ac.c8f16","type":"inject","z":"d0862a51.a09648","name":"ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Relay","payload":"Open","payloadType":"str","x":90,"y":920,"wires":[["c8aa8cb0.08ea6","fd556afb.eec888"]]},{"id":"4809a8cf.82a1b8","type":"inject","z":"d0862a51.a09648","name":"OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Relay","payload":"Close","payloadType":"str","x":90,"y":980,"wires":[["c8aa8cb0.08ea6","fd556afb.eec888"]]},{"id":"c8aa8cb0.08ea6","type":"mqtt out","z":"d0862a51.a09648","name":"Relay2","topic":"Relay","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5682baaf.1a25b4","x":410,"y":1040,"wires":[]},{"id":"fd556afb.eec888","type":"debug","z":"d0862a51.a09648","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":920,"wires":[]},{"id":"123b06a.b7763f9","type":"ui_button","z":"d0862a51.a09648","name":"ON","group":"82155578.5275f8","order":3,"width":"3","height":"1","passthru":true,"label":"RELAY1 ON","tooltip":"","color":"","bgcolor":"#00a65e","icon":"power_settings_new","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":800,"wires":[["f93cf4cb.1d7d38","2502d59d.ea602a"]]},{"id":"85ad7af4.320f38","type":"ui_button","z":"d0862a51.a09648","name":"OFF","group":"82155578.5275f8","order":4,"width":"3","height":"1","passthru":true,"label":"RELAY1 OFF","tooltip":"","color":"","bgcolor":"#E35656","icon":"power_settings_new","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":860,"wires":[["f93cf4cb.1d7d38","2502d59d.ea602a"]]},{"id":"8e887513.4883f8","type":"ui_button","z":"d0862a51.a09648","name":"OFF","group":"af18c053.ec4be","order":4,"width":"3","height":"1","passthru":false,"label":"RELAY2 OFF","tooltip":"","color":"","bgcolor":"#E35656","icon":"power_settings_new","payload":"false","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":1160,"wires":[["c8aa8cb0.08ea6","be0eb7fc.443eb8"]]},{"id":"2502d59d.ea602a","type":"function","z":"d0862a51.a09648","name":"","func":"if(msg.payload == \"1\"){\n    msg.payload = \"ON\"\n}\nelse{\n    msg.payload = \"OFF\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":860,"wires":[["2a7d2d66.3746b2"]]},{"id":"be0eb7fc.443eb8","type":"function","z":"d0862a51.a09648","name":"","func":"if(msg.payload == \"true\"){\n    msg.payload = \"ON\"\n}\nelse{\n    msg.payload = \"OFF\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1160,"wires":[["bba78852.7217b8"]]},{"id":"2a7d2d66.3746b2","type":"ui_led","z":"d0862a51.a09648","order":1,"group":"82155578.5275f8","width":"6","height":"2","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"OFF","valueType":"str"},{"color":"#008000","value":"ON","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":610,"y":860,"wires":[]},{"id":"bba78852.7217b8","type":"ui_led","z":"d0862a51.a09648","order":1,"group":"af18c053.ec4be","width":"6","height":"2","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"OFF","valueType":"str"},{"color":"#008000","value":"ON","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":610,"y":1160,"wires":[]},{"id":"824e8a0d.fdb758","type":"ui_button","z":"d0862a51.a09648","name":"ON","group":"af18c053.ec4be","order":3,"width":"3","height":"1","passthru":false,"label":"RELAY2 ON","tooltip":"","color":"","bgcolor":"#00a65e","icon":"power_settings_new","payload":"true","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":1100,"wires":[["c8aa8cb0.08ea6","be0eb7fc.443eb8"]]},{"id":"fb5ff94e.d774f8","type":"ui_artlessgauge","z":"d0862a51.a09648","group":"1cbd6c5.18f1d94","order":2,"width":"3","height":"3","name":"TEMP","icon":"fa-thermometer-empty","label":"Temp","unit":"CELSIUS","layout":"radial","decimals":"2","differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#9beee4","t":"min","dot":0},{"val":50,"col":"#9beee4","t":"max","dot":0}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":270,"y":260,"wires":[]},{"id":"6401f253.1c6afc","type":"ui_artlessgauge","z":"d0862a51.a09648","group":"1cbd6c5.18f1d94","order":4,"width":"3","height":"3","name":"HUMI","icon":"fa-tint","label":"Humi","unit":"%","layout":"radial","decimals":"1","differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#a8e5f0","t":"min","dot":0},{"val":100,"col":"#a8e5f0","t":"max","dot":0}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":270,"y":380,"wires":[]},{"id":"fa48d2e6.3f9d5","type":"switch","z":"d0862a51.a09648","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"28","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":80,"wires":[["40f56cb0.fcaff4"]]},{"id":"3e886112.3ebf4e","type":"line_notify_api","z":"d0862a51.a09648","name":"","accessToken":"d5AvkjxYVVTqweVul2zuEOLPTVVJDIXC7IBRFlqqDGy","stickerPackageId":"","stickerId":"","x":730,"y":80,"wires":[[]]},{"id":"746f7492.5e2d5c","type":"template","z":"d0862a51.a09648","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"อุณหภูมิสูงเกินไป ขณะนี้อุณภูมิอยู่ที่: {{payload}} องศา!","output":"str","x":580,"y":80,"wires":[["3e886112.3ebf4e"]]},{"id":"988e3f83.71859","type":"comment","z":"d0862a51.a09648","name":"Token","info":"d5AvkjxYVVTqweVul2zuEOLPTVVJDIXC7IBRFlqqDGy","x":750,"y":20,"wires":[]},{"id":"40f56cb0.fcaff4","type":"rbe","z":"d0862a51.a09648","name":"","func":"deadbandEq","gap":"1","start":"","inout":"out","septopics":true,"property":"payload","x":420,"y":80,"wires":[["746f7492.5e2d5c","2b016196.d5232e"]]},{"id":"2b016196.d5232e","type":"debug","z":"d0862a51.a09648","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":20,"wires":[]},{"id":"82acc036.7f2de","type":"firebase.on","z":"d0862a51.a09648","name":"Relay1","firebaseconfig":"","childpath":"Relay1","atStart":true,"eventType":"value","queries":[],"x":90,"y":740,"wires":[["f93cf4cb.1d7d38"]]},{"id":"4089ecb7.239894","type":"firebase.on","z":"d0862a51.a09648","name":"Relay2","firebaseconfig":"","childpath":"Relay2","atStart":true,"eventType":"value","queries":[],"x":90,"y":1040,"wires":[["c8aa8cb0.08ea6"]]},{"id":"369d5ea2.5abdf2","type":"firebase modify","z":"d0862a51.a09648","name":"Firebase Set TEMP","firebaseconfig":"","childpath":"Temp","method":"set","value":"msg.payload","priority":"msg.priority","x":310,"y":140,"wires":[[]]},{"id":"94feeac6.e0b088","type":"firebase modify","z":"d0862a51.a09648","name":"Firebase Set HUMI","firebaseconfig":"","childpath":"Humi","method":"set","value":"msg.payload","priority":"msg.priority","x":310,"y":440,"wires":[[]]},{"id":"27d185a4.3c34da","type":"firebase modify","z":"d0862a51.a09648","name":"Firebase push HUMI","firebaseconfig":"","childpath":"hum","method":"push","value":"msg.payload","priority":"msg.priority","x":320,"y":500,"wires":[[]]},{"id":"fa7751b2.eb9dd","type":"firebase modify","z":"d0862a51.a09648","name":"Firebase push TEMP","firebaseconfig":"","childpath":"temp","method":"push","value":"msg.payload","priority":"msg.priority","x":320,"y":200,"wires":[[]]},{"id":"bd8741d5.717cd","type":"debug","z":"d0862a51.a09648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":100,"wires":[]},{"id":"dab8ba6b.a042d8","type":"firebase modify","z":"d0862a51.a09648","name":"Remove temp","firebaseconfig":"","childpath":"temp","method":"remove","value":"msg.payload","priority":"msg.priority","x":760,"y":160,"wires":[[]]},{"id":"272eb225.a3529e","type":"inject","z":"d0862a51.a09648","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"190","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":580,"y":160,"wires":[["dab8ba6b.a042d8"]]},{"id":"35cdd30b.0e096c","type":"firebase modify","z":"d0862a51.a09648","name":"Remove hum","firebaseconfig":"","childpath":"hum","method":"remove","value":"msg.payload","priority":"msg.priority","x":750,"y":220,"wires":[[]]},{"id":"781a7d4c.e08ca4","type":"inject","z":"d0862a51.a09648","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"190","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":580,"y":220,"wires":[["35cdd30b.0e096c"]]},{"id":"5682baaf.1a25b4","type":"mqtt-broker","name":"","broker":"vsmqtt.space","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"188ffb56.5d0e65","type":"ui_group","name":"TEMP&HUMI","tab":"5f9970b1.f0862","order":2,"disp":true,"width":"14","collapse":false},{"id":"82155578.5275f8","type":"ui_group","name":"Relay 1","tab":"5f9970b1.f0862","order":3,"disp":true,"width":"6","collapse":false},{"id":"af18c053.ec4be","type":"ui_group","name":"Relay 2","tab":"5f9970b1.f0862","order":4,"disp":true,"width":"6","collapse":false},{"id":"1cbd6c5.18f1d94","type":"ui_group","name":"Temp & Humi","tab":"5f9970b1.f0862","order":1,"disp":true,"width":"3","collapse":false},{"id":"5f9970b1.f0862","type":"ui_tab","name":"Temperature & Humidity","icon":"dashboard","disabled":false,"hidden":false}]